.post-list {
	margin: 50px auto;

    text-align: left;

    border: 1px solid #DCDCDC;

	&-title {
		height: 50px;
        padding: 0 20px;

		border-bottom: 1px solid #DCDCDC;
		background-color: #F5F5F5;

        line-height: 50px;
	}

	&-content {
		min-height: 300px;
	}
}
