.carousel-wrapper {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 500px;
}

.carousel-container {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    margin: 0;
    padding: 0;

    transition: left .5s ease 0s;
}

.carousel-image-container {
    display: inline-block;

    width: 750px;
    height: 100%;

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.carousel-arrow {
    position: absolute;
    top: calc(50% - 27px);

    width: 30px;
    height: 54px;

    background-color: #DCDCDC;

    &[data-direction=previous] {
        left: 0;
    }

    &[data-direction=next] {
        right: 0;
    }
}