.blog-article {
	min-height: 800px;
	padding: 24px;

	text-align: left;

	border: 1px solid #DCDCDC;
	background-color: #ffffff;

	line-height: 1.75;

	h1 {
		padding-bottom: 12px;

		border-bottom: 1px solid #ececec;

		font-size: 24px;
	}

	p {
		margin: 12px 0;

		font-size: 15px;
	}

	blockquote {
		padding-left: 1.5em;

		color: rgba(0,0,0,.5);
		border-left: 5px solid rgba(0,0,0,.1);
	}
}