.home-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding: 10px 15px;
}

.home-main {
    flex: 1 1 auto;

    width: 835px;
    margin-right: 10px;
}

.home-aside {
    flex: 1 1 auto;

    width: 305px;
}

.bulletin-board,
.external-links,
.profile-card,
.weibo-container {
    margin-bottom: 10px;
}
